<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.mapper.SportMapper">
  <resultMap id="BaseResultMap" type="com.health.entity.Sport">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="col" jdbcType="DOUBLE" property="col" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="useId" jdbcType="INTEGER" property="useId" />
  </resultMap>
  <select id="getSport" resultType="com.health.entity.Sport">
    select * from sport where id = #{id}
  </select>
  <update id="addImage">
    update sport
    set image = #{path}
    where id = #{id}
  </update>
</mapper>